<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/kaysermud</property>
        <property name="hibernate.connection.username">kayser</property>
        <property name="hibernate.connection.password">isis</property>
        <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>

        <property name="hibernate.current_session_context_class">
            org.hibernate.context.ManagedSessionContext
        </property>

        <property name="show_sql">true</property>

        <mapping class="com.autentia.app.persist.hibernate.Campaign" />
        <mapping class="com.autentia.app.persist.hibernate.Subcampaign" />
        <mapping class="com.autentia.app.persist.hibernate.Budget" />
    </session-factory>
</hibernate-configuration>